h1 {
  margin: 0;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0.67em 0 0.67em 0;
}

.grid {
  display: grid;
  grid-template-columns: 49.7% 49.7%;
  gap: 10px;
  height: 80vh;
}

.win {
  border: 1px solid black;
  height: 100%;
  overflow: auto;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

#in {
  font-family: Fira Code;
  text-wrap: wrap;
}
