h1 {
  margin: 0;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0.67em 0 0.67em 0;
}

.out_head,
.in_head {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: 49.7% 49.7%;
  grid-template-rows: min-content min-content auto 50px;
  margin: 10px 0 10px 0;
  gap: 10px;
  height: 80vh;
}

.win {
  border: 1px solid black;
  height: 100%;
  overflow: auto;
}

td {
  border: 1px solid black;
  vertical-align: top;
}

th {
  border: 1px solid white;
}

table tr:first-child th {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

table {
  width: 100%;
  /* height: 100%; */
  border-collapse: collapse;
}

th {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
}

#t {
  resize: none;
  border-radius: 0;
  /* border: 2px solid blue; */
  /* box-sizing: border-box; */
  padding: 0;
  white-space: nowrap;
  overflow: auto;
}

#in {
  font-family: Fira Code;
  text-wrap: wrap;
}