@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
	background-color: #f9f4f9;
}

button {
	cursor: pointer;
}

button:hover {
	background-color: #ffdf20;
}
